.base {
    display: block;

    padding: var(--pad-16);

    border: 0;
    cursor: pointer;

}

.base:is(.full-width) {
    width: 100%;
    height: 100%;
}

.base:is(.normal-width) {
    --stardard-size: 300px;
    width: var(--stardard-size);
    height: var(--stardard-size);
}

.base:is(.auto-width) {
    width: auto;
    height: auto;
}

